; vim:ts=8:sw=8
$TTL    86400
@			IN SOA	localhost root.localhost (
			46         ; serial
			10800      ; refresh (3 hours)
			900        ; retry (15 minutes)
			604800     ; expire (1 week)
			86400      ; minimum (1 day)
			)
			NS	localhost
localhost		A	127.0.0.1
DNS_NAME		A	DNS_IP
