; vim:ts=8:sw=8
$TTL    86400
@			IN SOA	localhost root.localhost	(
				46              ; serial (d. adams)
				3H              ; refresh
				15M             ; retry
				1W              ; expiry
				1D )            ; minimum
			NS	localhost
localhost		A	127.0.0.1
DNS_NAME		A	DNS_IP
