# Fichier [g]vim de travaille
*.swp
*.log
#Dolpin
.Trash*
#Logs
logs/**
#Fichier LibreOffice
*.odp#
#divers
.directory
#
*.link
#
test/**
###
dns/install/etc
dns/install/var
dns/install/configure.log
san/saveconfig-*
san/targetcli_backup/**
nohup.out
afiedt.buf
database_servers/albator
database_servers/loulou
database_servers/picsou
database_servers/plutot
database_servers/riri
database_servers/riri/vms_virtualbox
database_servers/riri/vms_virtualbox/clone
