# Fichier [g]vim de travaille
*.swp
*.sw*
*.log

#Dolpin
.Trash*

#Logs
logs/**

#Fichiers temporaires
tmp/**

#Fichier LibreOffice
*.odp#

#divers
.directory

#
*.link

#
test/**

###
dns/install/etc
dns/install/var
dns/install/configure.log
san/saveconfig-*
san/targetcli_backup/**
nohup.out
afiedt.buf
database_servers/**/
#sqlplus
afiedt.buf
