#	Nom du répertoire ou sont mémorisé les interfaces réseaux :
typeset -r	network_scripts=/etc/sysconfig/network-scripts

#	============================================================================
#	Information sur le poste client
#	============================================================================
#	Nom d'hôte du poste client
typeset	-r	client_hostname=kangs

#	Username utilisé depuis le poste clients
typeset -r	common_user_name=kangs

#	Mettre no pour activer le mode emac (jamais testé)
typeset -r	mode_vi=yes

#	============================================================================
#	Permet de générer les scripts pour l'os host et le logiciel de virtualisation.
#	============================================================================
typeset -r	hostvm=linux_virtualbox

#	Valeurs possibles vbox ou nfs
#	Définie le protocole utilisé pour le partages des répertoires communs au
#	poste client et aux serveurs.
#	Avec les anciennes versions de VirtualBox le NFS est affreusement lent.
#	Dans le doute utiliser vbox
typeset	-r	type_shared_fs=vbox

#	============================================================================
#	NTP
#	============================================================================
#	Mettre internet pour se synchroniser sur internet
typeset -r	master_time_server=${client_hostname}.orcl

#	============================================================================
#	VM
#	============================================================================
#	Mémoire à donner aux VMs en fonction du type de base.
typeset -r	vm_memory_mb_for_single_db=3072
typeset -r	vm_memory_mb_for_rac_db=3072

# Répertoire ou seront stockés les VMs sur l'OS host
typeset -r	vm_path="$HOME/VirtualBox VMs"

# Chemin complet sur l'ISO Linux à utiliser pour l'installation sur l'OS host
typeset -r	full_linux_iso_name="$HOME/ISO/oracle_linux_7/V100082-01.iso"

#	============================================================================
#	GI & RDBMS
#	============================================================================
typeset -r	oracle_release=12.1.0.2

#	Mot de passe qui sera appliqué à tous les comptes oracle et pour les LUNs du SAN
#	Note : les passwords des comptes unix sont oracle/oracle et grid/grid
#	Par exemple pour les versions 12 le mot de passe sera Oracle12
typeset -r	oracle_password=Oracle${oracle_release%%.*}

#	Valeurs utilisées si max_shm_size=config
#	Modifier ces valeurs s'il n'y a pas 4Gb par VMs entrainera un swap excessif.
typeset -r	min_shm_size_single=1150M #est le minimum pour une base en SINGLE
typeset -r	min_shm_size_rac=1200M	 #est le minimum pour une base en RAC

#	- auto pour un OS avec beaucoup de mémoire 4Gb ou plus
#	- config appliquera min_shm_size_single ou min_shm_size_rac
typeset -r	max_shm_size=config

#	TODO Faire disparaître quand le TODO de max_shm_size sera fait.
#	Avec peu de RAM pas de hugepages
typeset -r	rdbms_alloc_hugepages=0

#	Mettre 95% si bcp de RAM et des disques vraiment rapides.
typeset -r	oracle_grid_mem_lock_pct=70

#	Type de FS à créer lorsque la base n'utilise pas ASM.
typeset -r	rdbms_fs_type=xfs

#	Point de montage pour les binaires d'installation :
#	Pour Oracle 12.1 ==> oracle_install/12.1
typeset	-r	oracle_install=oracle_install/${oracle_release%.*.*}

#	============================================================================
#	INFRA
#	============================================================================
typeset -r	infra_domain=orcl
typeset -r	infra_network=192.170.100
typeset -r	infra_mask=24
typeset	-r	infra_hostname=K2
typeset -r	infra_ip_node=5
typeset -r	infra_ip=${infra_network}.${infra_ip_node}
typeset	-r	infra_conn="root@$infra_hostname"
typeset -r	vm_memory_mb_for_infra=256

#	============================================================================
#	DNS
#	============================================================================
typeset -r	dns_hostname=$infra_hostname
typeset -r	dns_conn=$infra_conn
typeset -r	dns_ip_node=$infra_ip_node
typeset -r	dns_ip=$infra_ip

#	============================================================================
#	interface internet
#	============================================================================
typeset -r	if_net_name=eth2
typeset -r	if_net_file=${network_scripts}/ifcfg-$if_net_name

#	============================================================================
#	interface public interne
#	============================================================================
typeset -r	if_pub_name=eth0
typeset -r	if_pub_file=${network_scripts}/ifcfg-$if_pub_name
typeset	-r	if_pub_network=$infra_network

#	============================================================================
#	interface privé interne
#	============================================================================
typeset -r	if_priv_name=eth1
typeset -r	if_priv_file=${network_scripts}/ifcfg-$if_priv_name
typeset -r	if_priv_network=10.10.10

#	============================================================================
#	Master
#	============================================================================
typeset -r	master_name=orclmaster
typeset -r	master_conn="root@${master_name}"
typeset -r	master_ip_node=2
typeset -r	vm_memory_mb_for_master=4096

#	============================================================================
#	SAN
#	============================================================================
typeset -r	san_conn=$infra_conn
typeset -r	san_hostname=$infra_hostname
typeset -r	san_ip_priv=${if_priv_network}.${infra_ip_node}

typeset -r	iscsi_initiator_file=/etc/iscsi/initiatorname.iscsi
typeset -r	iscsi_initiator_prefix=iqn.1970-05.com.srv

