#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
repo --name="Server-Mysql" --baseurl=file:///run/install/repo/addons/Mysql
# Use CDROM installation media
cdrom
# Use graphical install
#graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=fr-oss --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=static --device=eth0 --ip=190.170.100.7 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=dhcp --device=eth1 --onboot=off --ipv6=auto
network  --hostname=nfsorclmasterv2

# Root password
rootpw --iscrypted $6$5Votfn7VC4PgX.JF$HljBbU5VWzfbXNNCftIPRxuPBpqwNL5pG8VeMs8kNZNfGRpZ8NqLDW4B9PirSMdzhXXyb.uDDhXdrWyggIxru1
# System timezone
timezone Europe/Paris --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^infrastructure-server-environment
@base
@core
@network-file-system-client
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
