#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
repo --name="Server-Mysql" --baseurl=file:///run/install/repo/addons/Mysql
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=fr-oss --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=static --device=eth0 --ip=192.170.100.2 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=server_name.domain_name
# Reboot after installation
reboot --eject
# Root password
rootpw change_me
# System timezone
timezone Europe/Paris --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^infrastructure-server-environment
@base
@core
@network-file-system-client

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end
