#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
repo --name="Server-Mysql" --baseurl=file:///run/install/repo/addons/Mysql
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=fr-oss --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=static --device=eth0 --ip=192.170.100.2 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=server_name.domain_name
# Reboot after installation
reboot --eject
# Root password
rootpw change_me
# System timezone
timezone Europe/Paris --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
# Par rapport au disque enlever 4Gb
part pv.157 --fstype="lvmpv" --ondisk=sda --size=36864
volgroup ol_orcllinux --pesize=4096 pv.157
logvol swap  --fstype="swap" --size=4092 --name=swap --vgname=ol_orcllinux
# Enlever 6Gb de la ligne : part pv.157 --fstype="lvmpv" --ondisk=sda --size=***
logvol /  --fstype="xfs" --size=30724 --name=root --vgname=ol_orcllinux

%packages
@^infrastructure-server-environment
@base
@core
@network-file-system-client

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end
