[Unit]
Description=Check target errors
Wants=named.service
After=named.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sleep 60
ExecStart=/root/san/check_target.sh

[Install]
WantedBy=multi-user.target
