[Unit]
Description=Check target errors
Wants=named.service
After=named.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/su - root -c "/root/san/check_target.sh -sleep"

[Install]
WantedBy=multi-user.target
