[Unit]
Description=Check target errors
Wants=named.service
After=named.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sleep 60
ExecStart=/usr/bin/su - root -c "/root/san/check_target.sh"

[Install]
WantedBy=multi-user.target
