[Unit]
Description=Restore LIO kernel target configuration
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount network.target local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/root/plescripts/san/restore_vg_links.sh -vg_name=asm01
ExecStop=/usr/bin/targetctl clear
SyslogIdentifier=pletarget

[Install]
WantedBy=multi-user.target

